* {
    background: plum;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
}

h1, h2 {
    text-align: center;
}

nav > ul > li {
    color: whitesmoke;
}

#aboutMe > p {
    font-style: italic;
}