* {
    background: plum;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
}

h1, h2 {
    text-align: center;
}


nav > ul > li {
    box-sizing: border-box;
    color: whitesmoke;
    display: inline-block;
    width: 90px;
    height: 60px;
    border: 2px solid lightgray;
    margin: 2em;
    padding: 1.1em 0.1em 1em 0;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(22, 22, 22, 0.3);
}

#aboutMe > div > p {
    font-style: italic;
}