* {
    background: plum;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
}

h1, h2 {
    text-align: center;
}


nav > ul > li {
    box-sizing: border-box;
    color: whitesmoke;
    display: inline-block;
    width: 10%;
    border: 2px solid lightgray;
    margin: 2em;
    padding: 5px;
    text-align: center;
}

#aboutMe > p {
    font-style: italic;
}